# Core app
DEBUG=
SECRET_KEY=
DATABASE_URL=postgis://postgres:postgres@postgres:5432/postgres
REDIS_URL=redis://redis:6379
ALLOWED_HOSTS=localhost 127.0.0.1 eeveeit.uk
CSRF_TRUSTED_ORIGINS=http://localhost https://localhost
INTERNAL_IPS=127.0.0.1
APPLICATION_NAME=betterfleet
STATIC_ROOT=staticfiles
DATA_DIR=data

# Local media storage
USE_S3_STORAGE=0
MEDIA_URL=/media/
MEDIA_ROOT=media

# OAuth/Social Authentication
SOCIALACCOUNT_PROVIDERS__discord__app=
SOCIALACCOUNT_PROVIDERS__discord__secret=
SOCIALACCOUNT_PROVIDERS__github__app=
SOCIALACCOUNT_PROVIDERS__github__secret=

# Captcha
TURNSTILE_SITEKEY=
TURNSTILE_SECRET=

# Frontend build-time vars
API_ROOT=http://localhost/api
NODE_ENV=development

# Route editor
ROUTE_EDITOR_ROUTER=
ROUTE_EDITOR_OSRM_URL=

# TNDS & Bods
TNDS_USERNAME=
TNDS_PASSWORD=

# auth
FIDO2_RP_ID=
FIDO2_RP_NAME=
FIDO2_RP_ORIGINS=