{% extends 'page.html' %}
{% load static %}

{% block title %}{{ object.title }} - bustimes.org{% endblock %}

{% block head %}
    {% include 'includes/theme_styles.html' with page_theme=page_theme profile=object profile_class='organisation-profile' %}
    <link rel="stylesheet" href="/liveries.{{ liveries_css_version }}.css">
{% endblock head %}

{% block content %}

<section class="organisation-profile">
    <div class="organisation-profile__banner"{% if object.banner %} style="background-image:url('{{ object.banner.url }}')"{% endif %}></div>
    <div class="organisation-profile__body">
        <div class="organisation-profile__meta">
            <p class="organisation-profile__eyebrow">Bus group</p>
            <h1>{{ object.title }}</h1>
            {% if object.description %}<p class="organisation-profile__description">{{ object.description|linebreaksbr }}</p>{% endif %}
            {% if object.event_date %}
                <ul class="organisation-profile__stats">
                    <li>
                        <strong>{{ object.event_date }}</strong>
                        {% if object.event_end_date and object.event_end_date != object.event_date %}
                            - {{ object.event_end_date }}
                        {% endif %}
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</section>

{% endblock content %}
