{% extends 'page.html' %}

{% block title %}Create an account - bustimes.org{% endblock %}

{% block canonical %}<meta name="robots" content="noindex,noarchive">{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

<h1>Create an account</h1>

{% load email_obfuscator %}

{% if require_invite_codes %}
<p>An invite code is required.</p>

<p><strong>If you're a bus operator or transport authority</strong>,
although updating the information about your vehicles on this website may not be a high priority,
you're welcome to request an invite code by emailing
{{ 'admin@eeveeit.uk?subject=Invitation request'|obfuscate_mailto:'admin@eeveeit.uk' }}
<strong>from an official-looking email address, explaining who you are</strong>.</p>

<p>If not, you can still enjoy all the main features of bustimes.org without an account.
You can also suggest edits (in line with <a href="/rules">the rules</a>) <a href="/contact">by email</a> or <a href="https://discord.gg/QfmMuYH88Q">on Discord</a>.</p>
{% else %}
<p>Invite codes are currently not required.</p>
{% endif %}

<form method="post" action="{% url 'register' %}">

    {{ form.as_p }}

    <input type="submit" value="Create account">

    <input type="hidden" name="next" value="{{ next }}">

    {% csrf_token %}

</form>

<ul class="horizontal">
    <li><a href="{% url 'login' %}?next={{ next }}">Already have an account? Log in</a></li>
    <li><a href="{% url 'password_reset' %}?next={{ next }}">Lost password?</a></li>
</ul>

{% endblock content %}
